@import 'variables';

.container {
    box-sizing: border-box;
    padding-block: 5rem;
    text-align: center;

    .title {
        font-family: "Marck Script", cursive;
        font-size: 2.5rem;
        text-align: center;
        color: $babyblue;
        text-transform: capitalize;
    }
    .items-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 3rem;
        background-repeat: repeat;

        .item-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-block: 4rem;
            align-items: center;
            gap: 1rem;
            img {
                border-radius: 50%;
            }
            .item-title {
                font-size: 1.2rem;
                color: #A8B2B7;
            }
            .item-price {
                font-weight: bold;
                color: $watermelon;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        .items-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
}