<div class="container" [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}">
  <div class="title">Newsletter</div>
  <div class="paragraph">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nobis culpa aliquam suscipit consectetur officiis consequatur ipsa exercitationem perspiciatis, quod inventore sunt, molestias, expedita illum ullam corrupti quasi obcaecati ratione.</p>
  </div>
  <div class="email">
    <input placeholder="your email address"/>
    <button>Submit<fa-icon [icon]="paperPlaneIcon"></fa-icon></button>
  </div>
</div>