.container {
    margin-top: -1.8rem;
    width: 100%;
    image-wrapper {
        width: 100%;
    }
    img {
        max-width: 100%;
        position: relative;
        --mask: radial-gradient(30px at top,#0000 97%,#000) 50% / 55.5px 100%;
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }
    .icon-container {
        background-color: #e57a7a;
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: .8rem;
        border: 1px solid #e57a7a;
        border-radius: .2rem;
        cursor: pointer;
    } 
    .next {
        right: 0;
        transform: translate(-30%, 50%);
    }
    .prev {
        left: 0;
        transform: translate(30%, 50%);
    }
    fa-icon {
        color: white;
    }
}