<div class="icons-panel">
    <span (click)="switchTemplate()" class="icon-back"><a><fa-icon [icon]="backIcon"></fa-icon></a></span>
    <span (click)="sideBarClosed.emit(true)" class="icon-close"><a><fa-icon [icon]="xIcon"></fa-icon></a></span>
</div>
<nav class="nav">
    <ul>
        <li><a>Home</a></li>
        <li class="expandible-li" (click)="switchTemplate('shopTemplate')">
            <a>Shop</a>
            <div class="shop-container" *ngIf="activeTemplate === 'shopTemplate'">
                <ng-container *ngTemplateOutlet="shopTemplateRef"></ng-container>
            </div>
        </li>
        <li class="expandible-li" (click)="switchTemplate('recipesTemplate')">
            <a>Recipes</a>
            <div class="recipes-container" *ngIf="activeTemplate === 'recipesTemplate'">
                <ng-container *ngTemplateOutlet="recipesTemplateRef"></ng-container>
            </div>
        </li>
        <li><a>Flavours</a></li>
        <li><a>Blog</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>

<ng-template #shopTemplateRef>
    <div class="container-title">Shop</div>
    @for(category of categories; track category) {
        <div class="category">
            <div class="category-title"> {{ category }} </div>
            @for(categoryData of categoriesData[category]; track categoryData) {
                <div>{{ categoryData }}</div>
            }
        </div>
    }
    <div class="category">
        <img src="/assets/images/shop-image.jpg" alt="Coffee and Cake" />
    </div>
</ng-template>

<ng-template #recipesTemplateRef>
    <div class="container-title">Recipes</div>
    @for(recipe of recipes; track recipe; let i = $index) {
    <div class="recipe-container">
        <img [src]="recipe.imgSrc" [alt]="'recipe' + i" />
        <button>{{ recipe.name }} - {{ recipe.price }}</button>
    </div>
    }
</ng-template>