<div class="container" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
  <div class="title">Most Popular Creations</div>
  <div class="title-image">
    <img [src]="titleImage" alt="Title Icon" loading="lazy"/>
  </div>
  <div class="creations-container">
    @for(creation of creationItems; track creation; let i=$index) {
      <div class="creation-item">
        <img [src]="creation.imgSrc" [alt]="'Creation Item Image' + (i+1)" loading="lazy"/>
        <span class="creation-title">{{ creation.title }}</span>
        <p>{{ creation.description }}</p>
      </div>
    }
  </div>
</div>